.blog-wrapper{
    margin: 125px 0 95px;
}
.blog-post{
    position: relative;
    margin: 0 auto;
    max-width: 700px;
    min-height: 100px;
}
.blog-summary{
    word-wrap: break-word;
    text-align: center;
    font-weight: 400;
}
.blog-title{
    margin: 20px 0 15px;
    color: #4a4a4a;
    border-bottom: none;
    font-size: 22px;
    vertical-align: text-top;
    position: relative;
}
.blog-mate{
    margin: 25px 0 50px;
    font-size: 13px;
    color: #999;
}
.blog-inner{
    overflow: auto;
}
.blog-more{
    margin-top: 30px;
    text-align: center;
}
.blog-more-click{
    margin: 0 auto;
    padding: 5px 10px;
    display: inline-block;
    min-width: 80px;
    height: 20px;
    vertical-align: middle;
    border: 2px solid #222;
    border-radius: 20px;
    font-size: 13px;
    color: #fff;
    background-color: #222;
    transition: all .3s;
}
.blog-more-click:hover{
    color: #222;
    background-color: transparent;
}
.blog-footer-content{
    margin: 80px auto 60px;
    width: 8%;
    height: 1px;
    background-color: #eee;
    text-align: center;
}
h1, h2, h3, h4, h5, h6{
    margin: 20px 0 15px !important;
    line-height: 1.5 !important;
}
.blog-inner > h1{
    font-size: 22px;
    font-weight: bold;
}
.blog-inner > h2{
    font-size: 20px;
    font-weight: bold;
}
.blog-inner > h3{
    font-size: 18px;
    font-weight: bold;
}
.blog-inner > h4{
    font-size: 16px;
    font-weight: bold;
}
.blog-inner > h5{
    font-weight: bold;
}
.blog-inner > p{
    margin: 0 0 20px 0;
    font-size: 15px;
    line-height: 2;
}
.blog-inner > a{
    margin: 0 5px;
    border-bottom: 1px solid black;
}
pre, code{
    font-family: consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace;
    color: #4a4a4a;
    background-color: #f7f7f7;
    border-radius: 5px;
}
pre{
    padding: 10px 0;
    overflow-x: auto;
    border-left: 4px solid black;
    line-height: 1.5;
}
code{
    margin: 0 2px;
    padding: 2px 8px;
    word-wrap: break-word;
    font-size: 15px;
}
pre > code::before{
    content: '';
}
img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border: 1px solid #dedede !important;
    border-radius: 5px;
}
.blog-content ol{
    list-style: revert !important;
    padding-left: 28px !important;
}
.blog-content ul{
    list-style: circle !important;
    padding-left: 28px !important;
}
.blog-content li{
    list-style: inherit !important;
    line-height: 2;
    font-size: 15px;
}
blockquote{
    padding: 0 15px;
    color: #666;
    padding: 1px 23px;
    margin: 22px 0;
    border-left: 4px solid #dedede;
    font-size: 15px;
    line-height: 2;
}
strong{
    font-weight: bolder !important;
}
table{
    width: 100%;
    margin: 20px 0 !important;
    font-size: 15px;
}
th{
    padding-top: 10px;
    font-weight: bolder;
    border-bottom: 3px solid black !important;
}
th,td{
    border: 1px solid #dedede;
}
caption, th, td{
    padding: 8px !important;
    vertical-align: middle;
    font-weight: normal;
}

.hl-keyword{
    color: #eb1467;
}
.hl-object{
    color: lightseagreen;
}
.hl-usual{
    color: lightcoral;
}html, body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, fieldset, form, label, input, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea, article, aside, audio, canvas, figure, footer, header, mark, menu, nav, section, time, video { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote { display: block; }
ul, ol { list-style: none; }
img { border: 0 none; vertical-align: top; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }
table { border-collapse: collapse; border-spacing: 0; }
strong, em, i { font-style: normal; font-weight: normal; }
ins { text-decoration: underline; }
del { text-decoration: line-through; }
mark { background: none; }
input::-ms-clear { display: none !important; }
a { text-decoration: none; color: #333; outline: none;}

body{
    min-width: 850px;
    background-color: #eee;
    min-height: calc(100% + 1px);
    color: #4a4a4a;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
}.top-nav{
    position: fixed;
    width: 100%;
    max-width: 1440px;
    background-color: #fff;
    z-index: 5;
    border-bottom: 3px solid black;
}
.top-nav-wrapper{
    margin: 0 auto;
    max-width: 1230px;
    height: 70px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.icon{
    margin-right: 40px;
    height: 30px;
    width: 140px;
    cursor: pointer;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bolder;
}
.links{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.links > a{
    padding: 0 40px;
    height: 40px;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    white-space: nowrap;
    text-decoration: none;
    color: #4a4a4a;
    outline: none;
    transition: color .2s;
}
.links > a:hover{
    color: #0084ff;
}
.links > a.active{
    font-weight: bolder;
    color: inherit;
}.paging-controller{
    display: flex;
    margin: 65px 0 20px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    justify-content: center;
}
.paging-prev, .paging-next{
    margin-right: 8px;
    min-width: 24px;
    height: 24px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    float: left;
    cursor: pointer;
    outline: none;
}
.paging-prev > a::before, .paging-next > a::before{
    background-image: url(../92e97743d29fa51f7c55225e5e755ea8.png);
    background-size: 72px 48px;
    text-indent: -9999px;
}
.paging-prev > a::before{
    content: '\2039';
    display: block;
    background-position: -24px 0;
}
.paging-next > a::before{
    content: '\203A';
    display: block;
    background-position: -24px -24px;
}
.paging-prev-disabled > a::before{
    background-position: 0 0;
}
.paging-prev-disabled > a{
    cursor: not-allowed;
}
.paging-next-disabled > a::before{
    background-position: -48px -24px;
}
.paging-next-disabled > a{
    cursor: not-allowed;
}
.paging-item{
    margin-right: 8px;
    min-width: 24px;
    height: 24px;
    line-height: 24px;
    font-weight: 500;
    background-color: #fff;
    text-align: center;
    float: left;
    cursor: pointer;
    outline: none;
}
.paging-item-active > a{
    color: #0084ff;
}.carousel-container{
    width: 100%;
    min-width: 850px;
    position: absolute;
    top: 70px;
    left: 0;
}
.carousel-items{
    float: left;
    width: 800px;
    height: 100%;
}
.carousel-items img{
    height: 100%;
}.to-top{
    position: fixed;
    width: 100%;
    max-width: 1440px;
    transform: translate3d(0, 0, 0);
    bottom: 0;
    z-index: 9;
}
.to-top-arrow{
    position: fixed;
    display: none;
    border-radius: 20px;
    font-size: 25px;
    right: 40px;
    bottom: 150px;
    cursor: pointer;
}

.to-top-arrow::before{
    content: '▲';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}.blog-detail-wrapper{
    margin: 0 auto;
    max-width: 800px;
}
.blog-detail-post{
    position: relative;
    margin: 0 auto;
    padding: 50px 0;
    max-width: 750px;
}
.blog-detail-all  h1{
    font-size: 22px;
    font-weight: bold;
}
.blog-detail-all  h2{
    font-size: 20px;
    font-weight: bold;
}
.blog-detail-all  h3{
    font-size: 18px;
    font-weight: bold;
}
.blog-detail-all  h4{
    font-size: 16px;
    font-weight: bold;
}
.blog-detail-all  h5{
    font-weight: bold;
}
.blog-detail-all  p{
    margin: 0 0 20px 0;
    font-size: 15px;
    line-height: 2;
}
.blog-detail-all a{
    margin: 0 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}
.blog-detail-all  ol{
    list-style: revert !important;
    padding-left: 28px !important;
    margin-bottom: 15px;
}
.blog-detail-all  ul{
    list-style: circle !important;
    padding-left: 28px !important;
    margin-bottom: 15px;
}
.blog-detail-all  li{
    list-style: inherit !important;
    line-height: 2;
    font-size: 15px;
}
blockquote > p{
    margin:  0 !important;
}.right-bar{
    position: fixed;
    width: 100%;
    max-width: 1440px;
    transform: translate3d(0, 0, 0);
    top: 0;
    z-index: 9;
}
.right-bar-wrapper{
    position: fixed;
    top: 270px;
    left: 900px;
    width: 200px;
    border-left: 5px solid black;
    padding-left: 10px;
    border-radius: 5px;
}
.right-bar-main{
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bolder;
}
.right-bar-ul{
    max-height: 500px;
    overflow-y: auto;
    margin-left: 10px;
    line-height: 1.8;
}
.right-bar-ul > li{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.right-bar-ul > li.li3{
    margin-left: 0.8em;
}
.right-bar-ul > li.li4{
    margin-left: 1.6em;
}
.right-bar-ul > li.li5{
    margin-left: 2.4em;
}
.right-bar-ul > li.li6{
    margin-left: 3.2em;
}
.right-bar-ul > li.right-bar-light{
    color: firebrick;
    text-shadow: firebrick;
}.footer-wrapper{
    width: 100%;
    max-width: 1440px;
    background-color: #1a1a1a;
    overflow: hidden;
    color: white;
}
.copyright{
    width: 400px;
    margin: 15px auto;
    text-align: center;
    text-overflow: ellipsis;
}
.powered-by{
    width: 300px;
    margin: 10px auto;
    text-align: center;
    text-overflow: ellipsis;
}
.powered-by > a {
    margin: 0 5px;
    color: white;
    border-bottom: 1px solid white;
}
.division{
    width: 80%;
    height: 1px;
    margin: 10px auto;
    background-color: #eee;
}
.custom{
    width: 300px;
    margin: 10px auto;
    text-align: center;
    text-overflow: ellipsis;
}#app{
    position: relative;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
}
#container{
    position: relative;
    padding: 75px 0 0 0;
    background-color: #fff;
    overflow: auto;
}